html, body{
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.bodywrap{
    flex: 1; /* Takes up all available space */
    display: flex;
    flex-direction: column;
}

.bgimage{
    background-image: url("cityimage.png");
    display: flex;
    justify-content: center;
    align-items: center;
    height: 750px;
    background-size: cover;
    background-position: center;
    max-width: 100%;
}

.bg{
    background-color: rgb(11, 15, 66);
    height: auto;
    background-size: cover;
    background-position: center;
    max-width: 100%;
    color: white;
}

.quote {
    color: white;
    text-align: center;
}

.quote h2 {
    font-size: 47px;
}

.p1 {
    font-size: 18px;
}

.overweight{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 90px;
}

.overweight-col{
    flex-basis: 33%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: center;
    padding-left: 50px;
}

.overweight-col img{
    width: 100%;
    border-radius: 10px;
}

.hovering a:hover{
    opacity: 0.7;
    text-decoration: none;
}

.overweight-col p{
    padding: 0;
}

.overweight-col h3{
    margin-top: 16px;
    margin-bottom: 15px;
    color:  #4d4d4d;
}

.one{
    padding-top: 50px;
}

.sectorweight{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 90px;
    padding-bottom: 15px;
}

.sectorweight-col{
    flex-basis: 33%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: center;
    padding-left: 50px;
}

.sectorweight-col img{
    width: 100%;
    border-radius: 10px;
}

.sectorweight-col p{
    padding: 0;
}

.sectorweight-col h3{
    margin-top: 16px;
    margin-bottom: 15px;
    color:  #4d4d4d;
}

.investment{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    width: 100%;
    height: 100%;
}

.investment section{
    width: 80%;
}

.stats {
    flex-basis: 33.33%;
    text-align: left;
    padding-left: 50px;
}

.stats h1 {
    font-size: 50px;
    font-weight: 700;
}

.stats h3{
    margin-top: 16px;
    margin-bottom: 15px;
}

.noinvestments{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    width: 100%;
    height: 100%;
    text-align: center;
}

.noinvestments h1{
    font-size: 40px;
}

@media (max-width: 900px) {
    .row.one,
    .row.two,
    .row.three {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .overweight-col,
    .sectorweight-col,
    .underweight-col {
        width: 100%;
        padding-left: 0;
        margin-bottom: 20px;
    }

    .overweight-col img,
    .sectorweight-col img,
    .underweight-col img {
        max-width: 300px;
        height: auto;
        border-radius: 10px;
    }
}

@media (max-width: 900px) {
    .stats {
        width: 100%;
        text-align: center;
        padding: 0px;
    }

    .investment h1, p {
        width: 100%;
        text-align: center;
    }

    .two {
        padding-top: 0px;
    }
}

@media (max-width: 768px) {
    .investment {
        padding-top: 75px;
    }

    .statspecial {
        padding-bottom: 75px;
    }
}